{% import "macros/macros.form.twig" as form %}
{%
  set inputs = [
    {
      'name': 'formParams[email]',
      'value': '',
      'type': 'email',
      'attributes': {
        'required': 'required',
        'placeholder': 'Email',
        'class': 'form__control'
      }
    },
    {
      'name': 'formParams[phone]',
      'value': '',
      'type': 'tel',
      'customWrapperClass': 'form__row_hidden js-form-phone-wrapper',
      'attributes': {
        'required': 'required',
        'placeholder': 'Телефон',
        'class': 'form__control'
      }
    }
  ]
%}
{%
  set hidden_inputs = [
    {
      'name': 'formParams[setted_offer_id]',
    },
    {
      'name': 'formParams[allowOtherUser]',
    },
    {
      'name': '__gc__internal__form__helper'
    },
    {
      'name': 'requestTime'
    },
    {
      'name': 'requestSimpleSign'
    }
  ]
%}
<form action="https://edu.liftmarketing.pro/pl/lite/block-public/process-html?id=100149533" class="form form_white form_line" method="POST">
  {% for input in hidden_inputs %}
    {{ form.input(input.name, '', 'hidden') }}
  {% endfor %}
  <div class="form__content">
    {% for input in inputs %}
      <div class="form__row form__row_line {{input.customWrapperClass}}">
        {{ form.input(input.name, input.value, input.type, input.attributes) }}
        <span class="form__line"></span>
      </div>
    {% endfor %}
    <div class="form__row form__row_fluid">
      <div class="js-toggle-phone-wrapper form__row-inner">
        {{
          form.control('option1', '', 'checkbox', {}, 'Напомнить мне о мастер-классе по смс', 'control_white')
        }}
      </div>
    </div>
    <div class="form__row form__row_fluid">
      {{ 
        form.button(
          'submit', 
          'form__submit btn btn_landing btn_brand-2-gradient', 
          'ЗАРЕГИСТРИРОВАТЬСЯ БЕСПЛАТНО', 
          {
            'onclick': "if(window['btnprs5cd99d93281b4']){return false;}window['btnprs5cd99d93281b4']=true;setTimeout(function(){window['btnprs5cd99d93281b4']=false},6000);return true;"
          }
        ) 
      }}
    </div>
  </div>
</form>